<h1> Your recommendations </h1>
<table class="table">
  <thead>
    <tr>
      <th>Number</th>
      <th>Details</th>
    </tr>
  </thead>
  <tbody>
<%= for recommendation <- @recommendations do %>
    <tr>
      <td><%= recommendation.id %></td>
      <td>
        <span><%= link "Show", to: Routes.recommendation_path(@conn, :show, recommendation) %></span>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

