<section class="phx-hero">
  <h1><%= gettext "Welcome to %{name}!", name: "IssueSeeker" %></h1>
  <%= if signed_in?(@conn) do %>
    <%= if current_user(@conn).profile != nil do %>
      <%= render "complete_content.html", conn: @conn %>
    <% else %>
      <%= render "profile_not_created.html", conn: @conn %>
    <% end %>
  <% else %>
    <%= render "unsigned_content.html", conn: @conn %>
  <% end %>
</section>
