<hr>
<div class="row justify-content-center mt-5 mb-5">
  <%= link to: Routes.auth_path(@conn, :request), class: "btn btn-primary" do %>
    <span><%= gettext("SIGN UP WITH GITHUB") %></span>
    <span class="icon">
      <i class="fab fa-github"></i>
    </span>
  <% end %>
</div>
<hr>
