<p> Opsss, looks like you're not signed in.</p>

<%= link to: Routes.auth_path(@conn, :request), class: "btn btn-primary" do %>
  <span><%= gettext("Sign in") %></span>
  <span class="icon">
    <i class="fab fa-github"></i>
  </span>
<% end %>
